<% @people.each do |person|%>
   <div class="row">
      <div class="small-1 columns">
         <i class="fi-mail size-30"></i>
      </div>
      <div class="small-4 columns">
         <h5><%= link_to person.full_name, person_path(person), remote: true %></h5>
      </div>
      <div class="small-5 end columns">
         <dl class="sub-nav">
           <dt>Matches</dt>
           <dd class="active">
              <%= link_to person.matches.count, person_matches_path(person), remote: true%>
           </dd>
         </dl>
      </div>
   </div>
   
<% end %>


<%= will_paginate @people, renderer: FoundationPagination::Rails %>
