<div class="row">
   <div class="large-2 columns">
      <%= render "icon_bar"%>
   </div>
   <div class="large-10 columns">
      <div class="row">
         <div id="search"></div>
      </div>
      <div class="row">
         <div class="large-7 columns">
            <div id = "people">
               <%= render 'people'%>
            </div>
         </div>
         <div class="large-5 columns">
            <div id='person'></div>
         </div>
         
      </div>
   </div>
</div>
