<table class="table">
   <thead>
     <tr>
       <th>Kiwi URL</th>
       <th>Profile Items</th>
       <th>Actions</th>      
     </tr>
   </thead>
   <tbody>
      <% @people.each do |person|%>
         <tr>
            <td>
               
            </td>
            <td>
            </td>
            <td>
            </td>
         </tr>
      <% end %>
   </tbody>
</table>
