<table class="table">
   <thead>
     <tr>
       <th>Full Name</th>
       <th>Type</th>     
       <th>Matches</th>             
       <th>Actions</th>             
     </tr>
   </thead>
   <tbody>
      <% @people.each do |person|%>
         <tr>
            <td>
               <%= person.full_name%>
            </td>
            <td>
               <%= person.type%>               
            </td>
            <td>
               <% person.matches.each do |match| %>
                  <%= render partial: "matches", locals: {match: match} %>
               <% end %>
            </td>            
         </tr>
      <% end %>
   </tbody>
</table>
