<div class="icon-bar large-vertical four-up">
   <%= link_to(match_admin_index_path, class: "item", remote: true, method: :post) do %>
      <i class="fi-torso"></i>
      <label>Run Matchers</label>
   <% end %>
   
</div>
