 <div class="icon-bar six-up">
   <a class="item">
     <i class="fi-home"></i>
     <label>Home</label>
   </a>
   
   <%= link_to(people_path, class: "item") do %>
     <i class="fi-widget"></i>
     <label>People</label>
   <% end %>      
   
 </div>
