<%= render partial: 'people/person', locals: {person: match.dup_person}%>

<div data-alert class="alert-box">
  Decision: <%= match.state%>
  <a href="#" class="close">&times;</a>
</div>     


<%= render partial: 'reducers', locals: {match: match}%>

<%= link_to 'View Match', person_match_path(@person, match), class: "button"%>